{% extends 'dina_base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
<section class="contact-page">
 
<div class="contact-card">

    {{ form_start(contactForm, {'attr': {'class': 'contact-form'}}) }}

    <div class="contact-row">
        {{ form_widget(contactForm.fullName) }}
        {{ form_widget(contactForm.email) }}
    </div>

    {{ form_widget(contactForm.company) }}
    {{ form_widget(contactForm.message) }}

    <p class="contact-terms">
      By submitting, you agree to our <a href="#">Terms</a> and <a href="#">Privacy Policy</a>.
    </p>

    <button class="contact-btn">Send Message</button>

    {{ form_end(contactForm) }}

</div>
</section>
{% endblock %}